#header{
	font-family: Verdana;
	margin: 20px auto;
	text-align: center;
	color: #6699FF;
	height: 40px;
	font-size: 40px;
	width: 500px;
}

.header_left{
	float:left;
}

.header_right{
	float:right;
}

#clear_button{
	outline: 0;
	height:40px;
	width: 80px;
	color:white;
	background-color: #6699FF;
	float:right;
	border-radius: 4px;
	border:none;
	font-family: Verdana;
	font-weight: bold;
}

#grid{
	border: 5px solid black;
	margin: auto;
	margin-top: 40px;
}

.cell{
	background-color: #E0E0E0;
	float: left;
}